html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #001408;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button, a, input, select {
  outline: none;
}

button:focus, input:focus, select:focus {
  outline: none;
}

a {
  color: #001408;
}

li {
  list-style: none;
}

/*Header*/
header {
  transition: all ease-in-out 0.3s;
}

header.scrolled {
  /*  position: fixed;
    top: 0;
    left: 0;
    right: 0;
     background-color: #fff;
    z-index: 999;*/
}

.mb-none {
  display: block;
}
@media screen and (max-width: 991px) {
  .mb-none {
    display: none;
  }
}

.ds-none {
  display: none;
}
@media screen and (max-width: 991px) {
  .ds-none {
    display: block;
  }
}

.header__top {
  padding-left: 70px;
  padding-right: 70px;
  max-width: 1380px;
  margin: 0 auto;
}
.header__top img {
  width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 1279px) and (min-width: 992px) {
  .header__top .left {
    max-width: 360px;
  }
  .header__top .right {
    max-width: 550px;
  }
}
@media screen and (max-width: 991px) {
  .header__top {
    padding-right: 10px;
    padding-left: 10px;
  }
  .header__top img {
    width: 100%;
    max-width: 50%;
  }
}

.nar__cover {
  background-color: #008536;
}

.nav__custom {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1175px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .nav__custom {
    padding-right: 80px;
    padding-left: 80px;
  }
}
@media screen and (max-width: 991px) {
  .nav__custom {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 991px) {
  .nav__custom .navbar-toggler {
    padding-left: 0;
    padding-top: 6px;
  }
}
.nav__custom .navbar-toggler span img {
  width: 22px;
  height: 22px;
}
.nav__custom .collapse {
  justify-content: flex-start;
  width: fit-content;
  flex-grow: inherit;
}
@media screen and (max-width: 991px) {
  .nav__custom .collapse {
    display: none;
  }
}
.nav__custom .collapse.show {
  display: inline-block;
}
.nav__custom .navbar-nav {
  display: flex;
  justify-content: flex-end;
}
.nav__custom .navbar-nav li:first-of-type {
  position: relative;
}
.nav__custom .navbar-nav li:first-of-type:before {
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  background-image: url("../images/ic-home.svg");
  background-size: contain;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 10px;
}
@media screen and (max-width: 991px) {
  .nav__custom .navbar-nav li:first-of-type:before {
    /*  width: 16px;
      height: 16px;
      left: -5px;
      top: 12px;*/
    display: none;
  }
}
.nav__custom .navbar-nav li {
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 991px) {
  .nav__custom .navbar-nav li {
    padding-left: 4px;
  }
}
.nav__custom .navbar-nav li a {
  color: #fff;
  font-weight: 400;
}
.nav__custom .navbar-nav li:hover {
  opacity: 0.7;
}
.nav__custom .login__cover {
  margin-left: 30px;
}
@media screen and (max-width: 991px) {
  .nav__custom .login__cover {
    position: absolute;
    right: 15px;
    top: 16px;
  }
}
.nav__custom .login__cover .btn__account {
  padding: 0 25px;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav__custom .login__cover .btn__account {
    padding: 0 15px;
  }
}
.nav__custom .login__cover .btn__account:hover {
  opacity: 0.7;
}
.nav__custom .login__cover .btn__account:focus {
  border: 0;
  box-shadow: none;
}
.nav__custom .login__cover .login {
  position: relative;
}
.nav__custom .login__cover .login:before {
  position: absolute;
  content: "";
  background-image: url("../images/user_circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 2px;
}
@media screen and (max-width: 767px) {
  .nav__custom .login__cover .login:before {
    left: -12px;
  }
}

/*End Header*/
/*start cmn*/
.big__tit {
  font-weight: 700;
  color: #008536;
  font-size: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .big__tit {
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 414px) {
  .big__tit {
    font-size: 16px;
    line-height: 24px;
    margin-top: 25px;
  }
  .big__tit p {
    margin-bottom: 10px;
  }
}

.main__tit {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #008536;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .main__tit {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.main__tit:before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #008536;
  left: 0;
  right: 0;
  bottom: -5px;
  margin: 0 auto;
}

.form-group.btn-radio.error:before {
  display: none;
}
.form-group.btn-radio.error .custom-radio [type=radio]:checked + label:before,
.form-group.btn-radio.error .custom-radio [type=radio]:not(:checked) + label:before {
  border: 1px solid #9F0C0C;
}

.form-group {
  margin-bottom: 30px;
}
.form-group input[type=date] {
  width: 100%;
  height: 40px;
  border: 1px solid #001408;
  padding: 12px;
}
.form-group input[type=date]::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #B5B9B7;
}
.form-group .datepicker {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 567px) {
  .form-group .datepicker {
    flex-wrap: wrap;
  }
}
.form-group .datepicker .datepicker__input {
  flex: 0 0 35%;
  margin-right: 8%;
  display: flex;
  position: relative;
}
@media screen and (max-width: 567px) {
  .form-group .datepicker .datepicker__input {
    flex: 0 0 100%;
    margin-bottom: 15px;
  }
}
.form-group .datepicker .datepicker__input:before {
  content: "";
  background-image: url("../images/ic-calender.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  pointer-events: none;
}
.form-group .datepicker .datepicker__input label {
  color: #001408;
  font-size: 16px;
  line-height: 22px;
  margin-right: 15px;
}
@media screen and (max-width: 567px) {
  .form-group .datepicker .datepicker__input label {
    width: 35px;
  }
}
.form-group .datepicker .datepicker__input input {
  height: 40px;
  border: 1px solid #001408;
  padding: 12px;
  cursor: pointer;
}
@media screen and (max-width: 567px) {
  .form-group .datepicker .datepicker__input input {
    width: 100%;
  }
}
.form-group .datepicker .datepicker__input .error {
  border: 1px solid #9F0C0C;
}
.form-group label {
  color: #001408;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-end;
}
.form-group label .hint {
  display: none;
}
.form-group .input__style {
  width: 100%;
  height: 40px;
  border: 1px solid #001408;
  padding: 12px;
}
.form-group .input__style::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #B5B9B7;
}
.form-group .custom-radio {
  display: inline-block;
  margin-right: 80px;
  margin-bottom: 0;
}
.form-group .custom-radio label {
  display: inline-block;
  width: fit-content;
}
.form-group .custom-radio [type=radio]:checked,
.form-group .custom-radio [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.form-group .custom-radio [type=radio]:checked + label,
.form-group .custom-radio [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
.form-group .custom-radio [type=radio]:checked + label:before,
.form-group .custom-radio [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #E8EBE9;
}
.form-group .custom-radio [type=radio]:checked + label:after,
.form-group .custom-radio [type=radio]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #008536;
  position: absolute;
  top: 6px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form-group .custom-radio [type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.form-group .custom-radio [type=radio]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.form-group input[type=radio] {
  margin-right: 10px;
}
.form-group select {
  height: 40px;
  border: 1px solid #001408;
  padding: 7px 12px;
  width: 100%;
  /*here*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding-right: 30px;
}

.form-group.js_showarchive {
  display: none;
  margin-top: 20px;
}

.form-group.add__another__input {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 567px) {
  .form-group.add__another__input {
    /*overflow-x: auto;*/
  }
}
.form-group.add__another__input input {
  width: 23.5%;
  margin-left: 1.5%;
}
.form-group.add__another__input .select__cover {
  width: 75%;
  position: relative;
}
.form-group.add__another__input .select__cover:before {
  content: "";
  position: absolute;
  right: 10px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #001408;
  top: calc(50% - 3px);
}
.form-group.add__another__input .input__cover {
  width: 75%;
}
.form-group.add__another__input .input__cover input {
  width: 100%;
  margin-left: 0;
}

.form-group.add__sub__input:before {
  right: 17% !important;
}
.form-group.add__sub__input input {
  width: 85%;
}
@media screen and (max-width: 413px) {
  .form-group.add__sub__input input {
    width: 75%;
  }
}
.form-group.add__sub__input .sub {
  padding-left: 20px;
}
@media screen and (max-width: 413px) {
  .form-group.add__sub__input .sub {
    padding-left: 10px;
  }
}

.form-group.add__input__kqua {
  width: 100%;
}
.form-group.add__input__kqua label {
  text-align: right;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  width: 325px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .form-group.add__input__kqua label {
    justify-content: flex-start;
    text-align: left;
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .form-group.add__input__kqua label {
    width: 105px;
  }
}
.form-group.add__input__kqua .input__style {
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 991px) {
  .form-group.add__input__kqua .input__style {
    width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .form-group.add__input__kqua .input__style {
    width: 200px;
  }
}
@media screen and (max-width: 460px) {
  .form-group.add__input__kqua .input__style {
    width: 130px;
  }
}
.form-group.add__input__kqua .sub {
  width: 60px;
}

.form-group.add__input__kqua.dat label {
  width: 420px;
}
@media screen and (max-width: 991px) {
  .form-group.add__input__kqua.dat label {
    width: 320px;
  }
}
@media screen and (max-width: 767px) {
  .form-group.add__input__kqua.dat label {
    width: 240px;
    font-size: 18px;
  }
}
.form-group.add__input__kqua.dat .kqua {
  background-color: #008536;
  width: auto;
  height: 30px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 19px;
  padding: 15px;
}

.form-group.error {
  position: relative;
}
.form-group.error:before {
  content: "";
  position: absolute;
  right: 12px;
  top: 40px;
  background-image: url("../images/ic-error.svg");
  width: 20px;
  height: 20px;
}
.form-group.error .input__style {
  border: 1px solid #9F0C0C;
  background: rgba(159, 12, 12, 0.07);
}
.form-group.error .hint {
  display: block;
  /* flex: 1 0 100%; */
  text-align: left;
  color: #9F0C0C;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
}

.submit__cover {
  margin-top: 65px;
  margin-bottom: 90px;
}
@media screen and (max-width: 567px) {
  .submit__cover {
    margin-top: 40px;
    margin-bottom: 70px;
  }
}
.submit__cover button {
  height: 50px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.submit__cover .back {
  border: 1px solid #B5B9B7;
  background-color: transparent;
  color: #008536;
  margin-right: 20px;
  width: 173px;
}
.submit__cover .back:hover {
  color: #fff;
  background: linear-gradient(90deg, #008536 2.55%, rgba(0, 133, 54, 0.6) 100%);
}
@media screen and (max-width: 991px) {
  .submit__cover .back {
    width: 200px;
    font-size: 16px;
  }
}
@media screen and (max-width: 530px) {
  .submit__cover .back {
    width: 110px;
  }
}
@media screen and (max-width: 374px) {
  .submit__cover .back {
    width: 100px;
  }
}
.submit__cover .next {
  color: #fff;
  background: linear-gradient(90deg, #008536 2.55%, rgba(0, 133, 54, 0.6) 100%);
  width: 400px;
  border: none;
}
@media screen and (max-width: 991px) {
  .submit__cover .next {
    font-size: 16px;
    width: 260px;
  }
}
@media screen and (max-width: 530px) {
  .submit__cover .next {
    width: 180px;
  }
}
@media screen and (max-width: 374px) {
  .submit__cover .next {
    width: 160px;
  }
}
.submit__cover .next:hover {
  border: 1px solid #008536;
  background: transparent;
  color: #008536;
}

.ketqua__cover {
  padding-right: 25%;
}
@media screen and (max-width: 767px) {
  .ketqua__cover {
    padding-right: 20px;
    padding-left: 20px;
  }
}

/*end cmn*/
.main__content .steps__cover .steps__bg {
  background-color: #E8EBE9;
  height: 50px;
}
.main__content .steps__cover .steps__bg .steps {
  max-width: 1200px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
  height: 100%;
}
.main__content .steps__cover .steps__bg .steps li {
  color: #008536;
  height: 100%;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  width: 25%;
  display: block;
  text-align: center;
  padding: 12.5px;
}
.main__content .steps__cover .steps__bg .steps .active {
  background-color: #00B849;
  color: #fff;
  position: relative;
}
.main__content .steps__cover .steps__bg .steps .active:after {
  position: absolute;
  content: "";
  width: 0;
  right: -32px;
  top: 0px;
  border-top: 25px solid transparent;
  border-left: 32px solid #00B849;
  border-bottom: 25px solid transparent;
}
.main__content .steps__cover .name__step {
  max-width: 1200px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
  padding-top: 15px;
}
.main__content .steps__cover .name__step .active {
  color: #008536;
}
.main__content .steps__cover .name__step li {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  width: 25%;
  margin: 0 auto;
  text-transform: capitalize;
  padding-left: 42px;
  padding-right: 42px;
  text-align: center;
}
.main__content .steps__cover .name__step li:nth-child(3) {
  padding-left: 39px;
  padding-right: 39px;
}
.form__content {
  max-width: 730px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .form__content {
    max-width: 92%;
  }
}

.form__ketquaaddstyle {
  max-width: 1150px;
}

.form__content.form__add__style {
  max-width: 850px;
}
@media screen and (max-width: 880px) {
  .form__content.form__add__style {
    max-width: 750px;
  }
}
@media screen and (max-width: 780px) {
  .form__content.form__add__style {
    max-width: 700px;
  }
}
@media screen and (max-width: 767px) {
  .form__content.form__add__style {
    max-width: 92%;
  }
}
@media screen and (max-width: 567px) {
  .form__content.form__add__style form {
    /* width: 500px;*/
  }
}
.form__content.form__add__style .form-tit {
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .form__content.form__add__style .form-tit .left {
    padding-right: 10px;
    text-align: left;
  }
}
.form__content.form__add__style .form-tit .right {
  padding-right: 55px;
}
@media screen and (max-width: 880px) {
  .form__content.form__add__style .form-tit .right {
    padding-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .form__content.form__add__style .form-tit .right {
    padding-left: 10px;
    padding-right: 0;
    text-align: right;
  }
}
.form__content.form__add__style .form-tit .tit {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (max-width: 767px) {
  .form__content.form__add__style .form-tit .tit {
    font-size: 16px;
    line-height: 20px;
  }
}

/*footer*/
footer {
  background-color: #E8EBE9;
  padding-top: 50px;
  padding-bottom: 30px;
}
footer .ft__cover {
  text-align: center;
}
footer .ft__cover .ft__tit {
  color: #008536;
  font-size: 18px;
}
footer .ft__cover .ft__content .ft__line {
  margin-bottom: 10px;
}
footer .ft__cover .ft__content .ft__line a {
  transition: all ease-in-out 0.2s;
}
footer .ft__cover .ft__content .ft__line a:hover {
  text-decoration: none;
  color: #008536;
}
footer .ft__cover .ft__content .ft__line .tit {
  padding-right: 12px;
}
footer .ft__cover .ft__content .ft__line .icon {
  padding-right: 10px;
}
.modal__dangnhap .modal-dialog {
  max-width: 750px;
}
.modal__dangnhap .modal-dialog .form-group {
  margin-bottom: 10px;
}
.modal__dangnhap .modal-dialog .tab-content {
  padding-left: 10px;
}
.modal__dangnhap .modal-dialog .submit__cover.dangnhap {
  margin-top: 20px;
  margin-bottom: 20px;
}
.modal__dangnhap .modal-dialog .dangnhap__note {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.modal__dangnhap .modal-dialog .dangnhap__note a {
  color: #008536;
  text-decoration: underline;
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
  transition: all ease-in-out 0.3s;
}
@media screen and (max-width: 567px) {
  .modal__dangnhap .modal-dialog .dangnhap__note a {
    font-size: 15px;
  }
}
.modal__dangnhap .modal-dialog .dangnhap__note a:hover {
  text-decoration: none;
}
.modal__dangnhap .modal-dialog .left {
  background-color: #fff;
  padding: 30px 30px 60px 60px;
}
@media screen and (max-width: 630px) {
  .modal__dangnhap .modal-dialog .left {
    text-align: center;
    padding: 30px 20px;
  }
}
.modal__dangnhap .modal-dialog .left .tit {
  color: #008536;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.modal__dangnhap .modal-dialog .left img {
  width: 100%;
  margin: 0 auto;
  max-width: 160px;
}
.modal__dangnhap .modal-dialog .right {
  background-color: #E8EBE9;
  padding: 20px 50px 60px 20px;
}
@media screen and (max-width: 630px) {
  .modal__dangnhap .modal-dialog .right {
    padding: 20px;
    width: 100%;
  }
}
.modal__dangnhap .modal-dialog .right .nav-tabs {
  width: 100%;
}
.modal__dangnhap .modal-dialog .right .nav-tabs li a {
  transition: all ease-in-out 0.3s;
}
.modal__dangnhap .modal-dialog .right .nav-tabs li a:hover {
  color: #008536;
}
.modal__dangnhap .modal-dialog .right .nav-tabs li .active {
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-radius: 0;
  border-bottom: 1px solid #008536;
  color: #008536;
}
.modal__dangnhap .modal-dialog input {
  width: 320px;
}
@media screen and (max-width: 630px) {
  .modal__dangnhap .modal-dialog input {
    width: 100%;
  }
}
.modal__dangnhap .modal-dialog .close {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 999;
  opacity: 1;
}
@media screen and (max-width: 757px) {
  .modal__dangnhap .modal-dialog .modal-content {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 630px) {
  .modal__dangnhap .modal-dialog .modal-content {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.modal__dangnhap .modal-dialog .modal-content .modal-body {
  padding: 0;
}
@media screen and (max-width: 630px) {
  .modal__dangnhap .modal-dialog .modal-content .modal-body {
    flex-wrap: wrap;
  }
}

.modal-content {
  border-radius: 0;
}

.modal__quenmatkhau .modal-dialog {
  max-width: 500px;
}
.modal__quenmatkhau .modal-dialog .modal-body {
  padding: 40px 50px;
}
.modal__quenmatkhau .modal-dialog .close {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 999;
  opacity: 1;
}
.modal__quenmatkhau .modal-body .tit {
  color: #008536;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
}
.modal__quenmatkhau .modal-body .txt {
  font-size: 16px;
  line-height: 22px;
}
.modal__quenmatkhau .modal-body .form-group {
  margin-bottom: 25px;
}
.modal__quenmatkhau .modal-body .form-group input {
  width: 400px;
}
.modal__quenmatkhau .modal-body .submit__cover.dangnhap {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dothi__tit {
  color: #008536;
}

.dothi_cover-content {
  max-width: 1140px;
  margin-right: 30px;
  margin-left: 30px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .dothi_cover-content {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 991px) {
  .dothi_cover-content #myChart {
    /*   width: 900px !important;
          height: 329px !important;*/
    margin-left: 20px;
    margin-right: 20px;
  }
}

/*
 *  STYLE 4
 */
@media screen and (max-width: 991px) {
  .dothi_cover-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: lightgray;
    border-radius: 10px;
  }

  .dothi_cover-content::-webkit-scrollbar {
    width: 3px;
    background-color: lightgray;
    border-radius: 10px;
  }

  .dothi_cover-content::-webkit-scrollbar-thumb {
    background-color: #008536;
    border-radius: 10px;
  }
}
.dothi__coover {
  margin-bottom: 70px;
}
@media screen and (max-width: 1366px) {
  .dothi__coover {
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media screen and (max-width: 767px) {
  .dothi__coover {
    margin-left: 5px;
    margin-right: 20px;
  }
}
.dothi__coover .dothi__tit {
  font-size: 20px;
  line-height: 28px;
  padding-left: 25px;
  padding-right: 15px;
}
.dothi__coover .chart__tit {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #001408;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 991px) {
  .final__result button {
    width: 90% !important;
    max-width: 440px;
  }
}

/*
datepicker*/
#ui-datepicker-div {
  display: none;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ui-datepicker-calendar thead th {
  padding: 0.25rem 0;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  color: #78909C;
}

.ui-datepicker-calendar tbody td {
  width: 2.5rem;
  text-align: center;
  padding: 0;
}

.ui-datepicker-calendar tbody td a {
  display: block;
  border-radius: 0.25rem;
  line-height: 2rem;
  transition: 0.3s all;
  color: #546E7A;
  font-size: 0.875rem;
  text-decoration: none;
}

.ui-datepicker-calendar tbody td a:hover {
  background-color: #E0F2F1;
}

.ui-datepicker-calendar tbody td a.ui-state-active {
  background-color: #009688;
  color: white;
}

.ui-datepicker-header a.ui-corner-all {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  transition: 0.3s all;
}

.ui-datepicker-header a.ui-corner-all:hover {
  background-color: #ECEFF1;
}

.ui-datepicker-header a.ui-datepicker-prev {
  left: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: 50%;
  transform: rotate(180deg);
}

.ui-datepicker-header a.ui-datepicker-next {
  right: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 50%;
}

.ui-datepicker-header a > span {
  display: none;
}

.ui-datepicker-title {
  text-align: center;
  line-height: 2rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
}

.ui-datepicker-week-col {
  color: #78909C;
  font-weight: 400;
  font-size: 0.75rem;
}

.step1-btn .back {
  opacity: 0;
  cursor: default;
}
@media screen and (max-width: 767px) {
  .step1-btn .back {
    height: 0;
    width: 1px;
    padding: 0px 10%;
  }
}
@media screen and (max-width: 375px) {
  .step1-btn .back {
    padding: 0 9%;
  }
}
@media screen and (max-width: 340px) {
  .step1-btn .back {
    padding: 0 8%;
  }
}

@media screen and (max-width: 991px) {
  .mb-steps-cover {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .mb-steps-cover .mb-step.mb-step-addstyle:before {
    transform: rotate(90deg);
  }
  .mb-steps-cover .mb-step.mb-step-addstyle .mb-step-top {
    padding-bottom: 2px;
  }
  .mb-steps-cover .mb-step.active.mb-step-addstyle:before {
    transform: rotate(0deg);
  }
  .mb-steps-cover .mb-step.active.mb-step-addstyle .mb-step-top {
    padding-bottom: 12px;
  }
  .mb-steps-cover .mb-step {
    background-color: #E8EBE9;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
  }
  .mb-steps-cover .mb-step:before {
    position: absolute;
    content: "";
    background-image: url("../images/ic-right-arrow-green.svg");
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.2s;
    top: 40%;
    right: 4%;
    pointer-events: none;
  }
  .mb-steps-cover .mb-step .mb-step-top {
    color: #008536;
    font-size: 20px;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .mb-steps-cover .mb-step .mb-step-btm {
    display: none;
    font-size: 18px;
    color: #008536;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 991px) and (max-width: 767px) {
  .mb-steps-cover .mb-step .mb-step-btm {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (max-width: 991px) {
  .mb-steps-cover .mb-step.active:before {
    background-image: url("../images/ic-right-arrow-white.svg");
    transform: rotate(90deg);
  }
  .mb-steps-cover .mb-step.active .mb-step-top {
    color: #fff;
    background-color: #00B849;
    padding-bottom: 2px;
  }
  .mb-steps-cover .mb-step.active .mb-step-btm {
    display: block;
    color: #fff;
    background-color: #00B849;
    text-transform: capitalize;
    padding-left: 15px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 414px) {
  .mb-steps-cover {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.d-block {
  display: block;
}

.d-none {
  display: none !important;
}

.giaiphap__content .txt {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 30px;
}

.dothithamkhao__content {
  max-width: 1063px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.dothithamkhao__content .dothi {
  border: 1px solid #E8EBE9;
  border-radius: 5px;
  margin-bottom: 90px;
}
.dothithamkhao__content .dothi .tit {
  max-width: 704px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
}
@media screen and (max-width: 767px) {
  .dothithamkhao__content .dothi .tit {
    font-size: 18px;
    line-height: 22px;
  }
}
.dothithamkhao__content .dothi .dothithamkhao__chart {
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;
}
.dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"], .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"] {
  width: 610px !important;
  height: 300px !important;
}
@media screen and (max-width: 991px) {
  .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"], .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"] {
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"], .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"] {
    /*   width: inherit !important;
       height: inherit !important;*/
    width: 400px !important;
    height: 200px !important;
    position: relative;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"], .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"] {
    margin-left: 0%;
  }
}
@media screen and (max-width: 414px) {
  .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"], .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"] {
    margin-left: -6%;
  }
}
@media screen and (max-width: 390px) {
  .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"], .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"] {
    margin-left: -12%;
  }
}
@media screen and (max-width: 370px) {
  .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"], .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"] {
    margin-left: -15%;
  }
}
@media screen and (max-width: 340px) {
  .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"], .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"] {
    margin-left: -21%;
  }
}
.dothithamkhao__content .dothi .dothithamkhao__chart [id*="legend"] {
  position: absolute;
  right: 10%;
  top: 20%;
}
@media screen and (max-width: 991px) {
  .dothithamkhao__content .dothi .dothithamkhao__chart [id*="legend"] {
    position: inherit;
    padding-top: 30px;
  }
  .dothithamkhao__content .dothi .dothithamkhao__chart [id*="legend"] > ul {
    width: 300px;
    margin: 0 auto;
  }
}
.dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"] {
  width: 610px !important;
  height: 300px !important;
}
@media screen and (max-width: 767px) {
  .dothithamkhao__content .dothi .dothithamkhao__chart canvas[id*="chart"] {
    /*   width: inherit !important;
       height: inherit !important;*/
    width: 400px !important;
    height: 200px !important;
    position: relative;
  }
}
.dothithamkhao__content .dothi .dothithamkhao__chart [id*="legend"] {
  position: absolute;
  right: 10%;
  top: 20%;
}
@media screen and (max-width: 991px) {
  .dothithamkhao__content .dothi .dothithamkhao__chart [id*="legend"] {
    position: inherit;
    padding-top: 30px;
  }
  .dothithamkhao__content .dothi .dothithamkhao__chart [id*="legend"] > ul {
    width: 300px;
    margin: 0 auto;
  }
}
.dothithamkhao__content .dothi .dothithamkhao__chart .topleft {
  margin-top: -4px;
  margin-left: 16px;
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid black;
}
.dothithamkhao__content .dothi .dothithamkhao__chart .sectiontext {
  font-size: 1.5em;
  font-weight: bold;
  font-family: Candara, Calibri, Cambria, serif;
  color: green;
  margin-top: -4px;
}
.dothithamkhao__content .dothi .dothithamkhao__chart .pieLegend {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.dothithamkhao__content .dothi .dothithamkhao__chart .pieLegend li {
  list-style: none;
}
.dothithamkhao__content .dothi .dothithamkhao__chart .pieLegend li span {
  display: inline-block;
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

/* added css result page on Dec5*/
.ketqua__cover_n::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: lightgray;
  border-radius: 10px;
}

.ketqua__cover_n::-webkit-scrollbar {
  width: 3px;
  background-color: lightgray;
  border-radius: 10px;
}

.ketqua__cover_n::-webkit-scrollbar-thumb {
  background-color: #008536;
  border-radius: 10px;
}

.ketqua__cover_n {
  margin-bottom: 30px;
}
@media screen and (max-width: 670px) {
  .ketqua__cover_n {
    overflow-x: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.ketqua__cover_n table {
  max-width: 820px;
  margin: 0 auto;
  width: 90%;
}
@media screen and (max-width: 670px) {
  .ketqua__cover_n table {
    width: 600px;
    overflow-x: auto;
    height: 100%;
    margin-bottom: 30px;
  }
}
.ketqua__cover_n table thead th:nth-child(1) {
  width: 10%;
}
.ketqua__cover_n table thead th:nth-child(2) {
  width: 40%;
}
.ketqua__cover_n table thead th:nth-child(3) {
  width: 10%;
}
.ketqua__cover_n table thead th:nth-child(4) {
  width: 10%;
}
.ketqua__cover_n table thead th {
  background-color: #008536;
  color: #fff;
}
@media screen and (max-width: 414px) {
  .ketqua__cover_n table thead th {
    font-size: 16px;
  }
}
.ketqua__cover_n table th, .ketqua__cover_n table td {
  border: 0;
}
.ketqua__cover_n table tbody tr:nth-child(2n) {
  background-color: #efefef;
}
.ketqua__cover_n table tbody tr:last-of-type td {
  padding: 30px;
}
.ketqua__cover_n table .result_label {
  font-size: 18px;
  line-height: 24px;
  margin-right: 20px;
}
.ketqua__cover_n table .result_txt {
  background-color: #008536;
  width: 120px;
  height: 50px;
  color: #fff;
  padding: 12px 10px;
  margin-top: 20px;
}
.ketqua__cover_n table .result_subtxt {
  padding-top: 30px;
  font-size: 14px;
  line-height: 16px;
}

/*# sourceMappingURL=style.css.map */
