
$base-color: #001408;
$main-color: #008536;
$sc-color: #E8EBE9;

html, body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: $base-color;
}
p{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
button, a, input, select{
  outline: none;
}
button:focus, input:focus, select:focus{
  outline: none;
}
a{
  color: $base-color;
}
li{
  list-style: none;
}
/*Header*/
header{
  transition: all ease-in-out 0.3s;
}
header.scrolled{
/*  position: fixed;
  top: 0;
  left: 0;
  right: 0;
   background-color: #fff;
  z-index: 999;*/
}
.mb-none{
  display: block;
  @media screen and (max-width: 991px){
    display: none;
  }
}
.ds-none{
  display: none;
  @media screen and (max-width: 991px){
    display: block;
  }
}
.header__top{
  padding-left: 70px;
  padding-right: 70px;
  max-width: 1380px;
  margin: 0 auto;
  img{
    width: 100%;
    max-width: 100%;
  }
  @media screen and (max-width: 1279px) and (min-width: 992px){
    .left{
      max-width: 360px;
    }
    .right{
      max-width: 550px;
    }
  }
  @media screen and (max-width: 991px){
    padding-right: 10px;
    padding-left: 10px;
    img{
      width: 100%;
      max-width: 50%;
    }
  }
}
.nar__cover{
  background-color: $main-color;
}
.nav__custom{
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1175px;
  margin: 0 auto;
  width: 100%;
  @media screen and (max-width: 1199px) and(min-width: 992px) {
    padding-right: 80px;
    padding-left: 80px;
  }
  @media screen and (max-width: 991px){
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-toggler{
    @media screen and (max-width: 991px){
      padding-left: 0;
      padding-top: 6px;
    }
    span{
      img{
        width: 22px;
        height: 22px;
      }
    }
  }
  .collapse{
    justify-content: flex-start;
    width: fit-content;
    flex-grow: inherit;

    @media screen and (max-width: 991px){
     display: none;
    }

  }
  .collapse.show{
    display: inline-block;
  }
  .navbar-nav{
    display: flex;
    justify-content: flex-end;

    li:first-of-type{
      position: relative;
      &:before{
        background-repeat: no-repeat;
        position: absolute;
        content: "";
        background-image: url("../images/ic-home.svg");
        background-size: contain;
        width: 20px;
        height: 20px;
        left: 20px;
        top: 10px;
        @media screen and (max-width: 991px){
        /*  width: 16px;
          height: 16px;
          left: -5px;
          top: 12px;*/
          display: none;
        }
      }
    }
    li{
      padding-left: 40px;
      padding-right: 40px;
      @media screen and (max-width: 991px){
        padding-left: 4px;
      }
      a{
        color: #fff;
        font-weight: 400;
      }
      &:hover{
        opacity: .7;
      }
    }
  }
  .login__cover{
    margin-left: 30px;
    @media screen and (max-width: 991px){
      position: absolute;
      right: 15px;
      top: 16px;
    }
    .btn__account{
      padding: 0 25px;
      background: transparent;
      border: 0;
      color: #fff;
      cursor: pointer;
      @media screen and (max-width: 767px){
        padding: 0 15px;
      }
      &:hover{
        opacity: 0.7;
      }
      &:focus{
        border: 0;
        box-shadow: none;
      }
    }

    .login{
      position: relative;
      &:before{
        position: absolute;
        content: "";
        background-image: url("../images/user_circle.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        left: 0px;
        top: 2px;
        @media screen and (max-width: 767px){
          left: -12px;
        }
      }
    }
  }

}
/*End Header*/
/*start cmn*/
.big__tit{
  font-weight: 700;
  color: $main-color;
  font-size: 20px;
  text-transform: uppercase;
  @media screen and (max-width: 767px){
  font-size: 18px;
    line-height: 26px;
  }
  @media screen and (max-width: 414px){
    font-size: 16px;
    line-height: 24px;
    margin-top: 25px;
    p{
      margin-bottom: 10px;
    }
  }
}
.main__tit{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: $main-color;
  position: relative;
  text-align: center;
  @media screen and (max-width: 767px){
    padding-left: 15px;
    padding-right: 15px;
  }
  &:before{
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background-color: $main-color;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: 0 auto;
  }

}
.form-group.btn-radio.error{
  &:before{
    display: none;
  }
  .custom-radio{
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      border: 1px solid #9F0C0C ;
    }
  }

}
.form-group{
  margin-bottom: 30px;

  input[type=date]{
    width: 100%;
    height: 40px;
    border: 1px solid #001408;
    padding: 12px;
  }
  input[type=date]::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B5B9B7;
  }

  .datepicker{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media screen and (max-width: 567px){
     flex-wrap: wrap;
    }
    .datepicker__input{
     flex: 0 0 35%;
      margin-right: 8%;
      display: flex;
      position: relative;
      @media screen and (max-width: 567px){
        flex: 0 0 100%;
        margin-bottom: 15px;
      }
      &:before{
        content: "";
        background-image: url("../images/ic-calender.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        pointer-events: none;

      }

      label{
        color: $base-color;
        font-size: 16px;
        line-height: 22px;
        margin-right: 15px;
        @media screen and (max-width: 567px){
          width: 35px;
        }
      }
      input{
        height: 40px;
        border: 1px solid #001408;
        padding: 12px;
        cursor: pointer;
        @media screen and (max-width: 567px){
          width: 100%;
        }
      }
      .error{
        border: 1px solid #9F0C0C;
      }


    }
  }
  label{
    color: $base-color;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-end;
    .hint{
      display: none;
    }
  }
  .input__style{
    width: 100%;
    height: 40px;
    border: 1px solid #001408;
    padding: 12px;
  }
  .input__style::placeholder{

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B5B9B7;
  }

  .custom-radio{
    display: inline-block;
    margin-right: 80px;
    margin-bottom: 0;
   label{
     display: inline-block;
     width: fit-content;
   }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background: #E8EBE9;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 8px;
      height: 8px;
      background: #008536;
      position: absolute;
      top: 6px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

  }
  input[type=radio]{
    margin-right: 10px;
  }
  select{
    height: 40px;
    border: 1px solid #001408;
    padding: 7px 12px;
    width: 100%;
    /*here*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding-right: 30px;
  }

}
.form-group.js_showarchive{
  display: none;
  margin-top: 20px;
}
.form-group.add__another__input{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media screen and (max-width: 567px){
    /*overflow-x: auto;*/
  }

  input{
    width: 23.5%;
    margin-left: 1.5%;
  }
  .select__cover{
    width: 75%;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      right: 10px;
      width: 0;
      height: 0;
      pointer-events: none;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid $base-color;
      top: calc(50% - 3px);
    }
    select{

    }
  }
  .input__cover{
    width: 75%;
    input{
      width: 100%;
      margin-left: 0;
    }
  }
}
.form-group.add__sub__input{
  &:before{
    right: 17% !important;
  }
   input{
     width: 85%;
     @media screen and (max-width: 413px){
       width: 75%;
     }
   }
   .sub{
     padding-left: 20px;
     @media screen and (max-width: 413px){
       padding-left: 10px;
     }
   }
}

.form-group.add__input__kqua{
  width: 100%;
  label{
    text-align: right;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    width: 325px;
    display: flex;
    justify-content: flex-end;
    @media screen and(max-width: 767px) {
      justify-content: flex-start;
      text-align: left;
      font-size: 15px;
    }
    @media screen and(max-width: 767px) {
      width: 105px;
    }
  }
  .input__style{
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    @media screen and (max-width: 991px){
      width: 300px;
    }
    @media screen and(max-width: 767px) {
      width: 200px;
    }
    @media screen and(max-width: 460px) {
      width: 130px;
    }
  }
  .sub{
    width: 60px;
  }
}
.form-group.add__input__kqua.dat{
  label{
    width: 420px;
    @media screen and (max-width: 991px) {
      width: 320px;
    }
    @media screen and (max-width: 767px) {
      width: 240px;
      font-size: 18px;
    }
  }
.kqua{
  background-color: $main-color;
  width: auto;
  height: 30px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 19px;
  padding: 15px;
}
}
.form-group.error{
  position: relative;
  &:before{
    content: "";
    position: absolute;
    right: 12px;
    top: 40px;
    background-image: url("../images/ic-error.svg");
    width: 20px;
    height: 20px;
  }
  .input__style{
    border: 1px solid #9F0C0C;
    background: rgba(159, 12, 12, 0.07);
  }
  .hint{
    display: block;
    /* flex: 1 0 100%; */
    text-align: left;
    color: #9F0C0C;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
  }
}
.submit__cover{
  margin-top: 65px;
  margin-bottom: 90px;
  @media screen and (max-width: 567px){
    margin-top: 40px;
    margin-bottom: 70px;
  }
  button{
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  .back{
    border: 1px solid #B5B9B7;
    background-color: transparent;
    color: $main-color;
    margin-right: 20px;
    width: 173px;
    &:hover{
      color: #fff;
      background: linear-gradient(90deg, #008536 2.55%, rgba(0, 133, 54, 0.6) 100%);
    }
    @media screen and (max-width: 991px){
      width: 200px;
      font-size: 16px;
    }
    @media screen and(max-width: 530px) {
      width: 110px;
    }
    @media screen and(max-width: 374px) {
      width: 100px;
    }
  }
  .next{
    color: #fff;
    background: linear-gradient(90deg, #008536 2.55%, rgba(0, 133, 54, 0.6) 100%);
    width: 400px;
    border: none;
    @media screen and (max-width: 991px){
      font-size: 16px;
      width: 260px;
    }
    @media screen and(max-width: 530px) {
      width: 180px;
    }
    @media screen and(max-width: 374px) {
     width: 160px;
    }
    &:hover{
      border: 1px solid $main-color;
      background: transparent;
      color: $main-color;
    }
  }

}
.ketqua__cover{
   padding-right: 25%;
  @media screen and(max-width: 767px) {
    padding-right: 20px;
    padding-left: 20px;
  }

}

/*end cmn*/
.main__content{
  .steps__cover{
    .steps__bg{
      background-color: $sc-color;
      height: 50px;
      .steps{
        max-width: 1200px;
        padding-left: 60px;
        padding-right: 60px;
        margin: 0 auto;
        height: 100%;
        li{
          color: $main-color;
          height: 100%;
          font-family: Helvetica Neue;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          width: 25%;
          display: block;
          text-align: center;
          padding: 12.5px;
        }
        .active{
          background-color: #00B849;
          color: #fff;

          position: relative;
          &:after{
            position: absolute;
            content: "";
            width: 0;
            right: -32px;
            top: 0px;
            border-top: 25px solid transparent;
            border-left: 32px solid #00B849;
            border-bottom: 25px solid transparent;
          }
        }
      }
    }
    .name__step{
      max-width: 1200px;
      padding-left: 60px;
      padding-right: 60px;
      margin: 0 auto;
      padding-top: 15px;
      .active{
        color: $main-color;
      }
      li{
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        width: 25%;
        margin: 0 auto;
        text-transform: capitalize;
        padding-left: 42px;
        padding-right: 42px;
        text-align: center;
      }
      li:nth-child(3){
        padding-left: 39px;
        padding-right: 39px;
      }
    }

  }
  .content{

  }
}

.form__content{
  max-width: 730px;
  margin: 0 auto;
  @media screen and (max-width: 767px){
    max-width: 92%;
  }

}
.form__ketquaaddstyle{
  max-width: 1150px;
}
.form__content.form__add__style{
  max-width: 850px;
  @media screen and (max-width: 880px){
   max-width: 750px;
  }
  @media screen and (max-width: 780px){
    max-width: 700px;
  }
  @media screen and (max-width: 767px){
    max-width: 92%;
  }
  @media screen and (max-width: 567px){
    form{
     /* width: 500px;*/
    }
  }
  .form-tit{
    margin-bottom: 10px;

    .left{

      @media screen and (max-width: 767px){
        padding-right: 10px;
        text-align: left;
      }
    }
    .right{
      padding-right: 55px;
      @media screen and (max-width: 880px){
        padding-right: 30px;
      }
      @media screen and (max-width: 767px){
        padding-left: 10px;
        padding-right: 0;
        text-align: right;
      }
    }

    .tit{
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      @media screen and (max-width: 767px){
        font-size: 16px;
        line-height: 20px;

      }
    }
  }
}
/*footer*/
footer{
  background-color: $sc-color;
  padding-top: 50px;
  padding-bottom: 30px;
  .ft__cover{
    text-align: center;
    .ft__tit{
      color: $main-color;
      font-size: 18px;
    }
    .ft__content{
      .ft__line{
         margin-bottom: 10px;
        a{
          transition: all ease-in-out 0.2s;
          &:hover{
            text-decoration: none;
            color: $main-color;
          }
        }
        .tit{
          padding-right: 12px;
        }
        .icon{
          padding-right: 10px;
        }
        a{

        }
      }
    }
  }
}
.modal__dangnhap{
  .modal-dialog{
    max-width: 750px;
    .form-group{
      margin-bottom: 10px;
    }
    .tab-content{
      padding-left: 10px;
    }
    .submit__cover.dangnhap{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .dangnhap__note{
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      a{
        color: $main-color;
        text-decoration: underline;
        font-style: italic;
        font-size: 16px;
        font-weight: 500;
        transition: all ease-in-out 0.3s;
        @media screen and (max-width: 567px){
          font-size: 15px;
        }
        &:hover{
        text-decoration: none;
        }
      }
    }

    .left{
      background-color: #fff;
      padding: 30px 30px 60px 60px;
      @media screen and(max-width: 630px){
        text-align: center;
        padding: 30px 20px;
      }
      .tit{
        color: $main-color;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;

        letter-spacing: 0.02em;
      }
      img{
        width: 100%;
        margin: 0 auto;
        max-width: 160px;
      }
    }
    .right {
      background-color: $sc-color;
      padding: 20px 50px 60px 20px;
      @media screen and(max-width: 630px){
        padding: 20px;
        width: 100%;
      }

      .nav-tabs{
        width: 100%;
        li{
          a{
            transition: all ease-in-out 0.3s;
            &:hover{
              color: $main-color;
            }
          }
          .active{
            background-color: transparent;
            border-width: 0 0 1px 0;
            border-radius: 0;
            border-bottom: 1px solid $main-color;
            color: $main-color;
          }
        }
      }
    };
    input{
      width: 320px;
      @media screen and(max-width: 630px){
        width: 100%;
      }
    }
    .close{
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 999;
      opacity: 1;

    }
    .modal-content{
      @media screen and(max-width: 757px){
        margin-left: 10px;
        margin-right: 10px;
      }
      @media screen and(max-width: 630px){
        margin-left: 10px;
        margin-right: 10px;
      }
      .modal-body{
        padding: 0;
        @media screen and(max-width: 630px){
          flex-wrap: wrap;
        }
      }
    }
  }
}
.modal-content{
  border-radius: 0;
}
.modal__quenmatkhau{

  .modal-dialog {
    max-width: 500px;
    .modal-body{
      padding: 40px 50px;
    }
    .close{
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 999;
      opacity: 1;

    }
  }
  .modal-body{
    .tit{
      color: $main-color;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      text-transform: capitalize;
    }
    .txt{
      font-size: 16px;
      line-height: 22px;
    }
    .form-group{
      margin-bottom: 25px;
      input{
        width: 400px;
      }
    }
    .submit__cover.dangnhap{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
.dothi__tit{
  color: $main-color;
}
.dothi_cover-content{
  max-width: 1140px;

  margin-right: 30px;
  margin-left: 30px;
  margin: 0 auto;

  @media screen and (max-width:767px){
    margin-right: 10px;
    margin-left: 10px;
  }
  #myChart {

    @media screen and (max-width: 991px) {
/*   width: 900px !important;
      height: 329px !important;*/
     margin-left: 20px;
      margin-right: 20px;
    }
  }

}
/*
 *  STYLE 4
 */
@media screen and (max-width: 991px) {
  .dothi_cover-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: lightgray;
    border-radius: 10px;
  }

  .dothi_cover-content::-webkit-scrollbar {
    width: 3px;
    background-color: lightgray;
    border-radius: 10px;
  }

  .dothi_cover-content::-webkit-scrollbar-thumb {
    background-color: $main-color;
    border-radius: 10px;
  }
}

.dothi__coover{
  margin-bottom: 70px;
  @media screen and (max-width: 1366px) {
    margin-left: 25px;
    margin-right: 25px;
  }
  @media screen and (max-width: 767px) {
    margin-left: 5px;
    margin-right: 20px;
  }

  .dothi__tit{
    font-size: 20px;
    line-height: 28px;
    padding-left: 25px;
    padding-right: 15px;
  }
  .chart__tit{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: $base-color;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.final__result{
  @media screen and (max-width: 991px) {
    button{
      width: 90% !important;
      max-width: 440px;
    }

  }

}
/*
datepicker*/
#ui-datepicker-div {
  display: none;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.ui-datepicker-calendar thead th {
  padding: 0.25rem 0;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  color: #78909C;
}
.ui-datepicker-calendar tbody td {
  width: 2.5rem;
  text-align: center;
  padding: 0;
}
.ui-datepicker-calendar tbody td a {
  display: block;
  border-radius: 0.25rem;
  line-height: 2rem;
  transition: 0.3s all;
  color: #546E7A;
  font-size: 0.875rem;
  text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {
  background-color: #E0F2F1;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
  background-color: #009688;
  color: white;
}
.ui-datepicker-header a.ui-corner-all {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
  background-color: #ECEFF1;
}
.ui-datepicker-header a.ui-datepicker-prev {
  left: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: 50%;
  transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 50%;
}
.ui-datepicker-header a>span {
  display: none;
}
.ui-datepicker-title {
  text-align: center;
  line-height: 2rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
  color: #78909C;
  font-weight: 400;
  font-size: 0.75rem;
}

.step1-btn{

  .back{
    opacity: 0;
    cursor: default;
    @media screen and (max-width: 767px){
      height: 0;
      width: 1px;
      padding: 0px 10%;
    }
    @media screen and (max-width: 375px){
      padding: 0 9%;
    }
    @media screen and (max-width: 340px){
      padding: 0 8%;
    }

  }
}
.mb-steps-cover{
  @media screen and (max-width: 991px){
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    .mb-step.mb-step-addstyle{
        &:before{
          transform: rotate(90deg);
        }
      .mb-step-top{
        padding-bottom: 2px;
      }

    }
    .mb-step.active.mb-step-addstyle{
      &:before{
        transform: rotate(0deg);
      }
      .mb-step-top{
        padding-bottom: 12px;
      }
    }
     .mb-step{
       background-color: #E8EBE9;
       margin-bottom: 10px;
       position: relative;
       cursor: pointer;
       &:before{
         position: absolute;
         content: "";
         background-image: url("../images/ic-right-arrow-green.svg");
         width: 16px;
         height: 16px;
         background-size: contain;
         background-repeat: no-repeat;
         transition: all ease-in-out 0.2s;
         top: 40%;
         right: 4%;
         pointer-events: none;
       }
       .mb-step-top{
         color: $main-color;
         font-size: 20px;
         font-weight: 600;
         padding-top: 12px;
         padding-bottom: 12px;
       }
       .mb-step-btm{
         display: none;
         font-size: 18px;
         color: $main-color;
         padding-bottom: 12px;
         @media screen and (max-width: 767px){
          font-size: 16px;
           line-height: 22px;
         }

       }

     }
    .mb-step.active{
      &:before{
        background-image: url("../images/ic-right-arrow-white.svg");
        transform: rotate(90deg);

      }
      .mb-step-top{
        color: #fff;
        background-color: #00B849;
        padding-bottom: 2px;

      }
      .mb-step-btm{
        display: block;
        color: #fff;
        background-color: #00B849;
        text-transform: capitalize;
        padding-left: 15px;
        padding-right: 30px;

      }
    }
    .mb-step-top.js_chooseme.js_active{

    }
  }
  @media screen and (max-width: 414px){
   padding-left: 15px;
    padding-right: 15px;
  }
}
.d-block{
  display: block;
}
.d-none{
  display: none !important;
}
.giaiphap__content{
  .txt{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;
  }
}

.dothithamkhao__content{
  max-width: 1063px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  .dothi{
    border: 1px solid #E8EBE9;
    border-radius: 5px;
     margin-bottom: 90px;
    .tit{
      max-width: 704px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 auto;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      text-transform: capitalize;
      @media screen and(max-width: 767px) {
        font-size: 18px;
        line-height: 22px;
      }
    }
    .dothithamkhao__chart{
     position: relative;
      margin-top: 60px;
      margin-bottom: 40px;

      canvas[id*="chart"], canvas[id*="chart"]{
    width: 610px !important;
        height: 300px !important;
        @media screen and(max-width: 991px) {
          margin: 0 auto;
        }
        @media screen and(max-width: 767px) {
       /*   width: inherit !important;
          height: inherit !important;*/
          width: 400px !important;
          height: 200px !important;
          position: relative;
         margin: 0 auto;
        }
        @media screen and(max-width: 480px) {
         margin-left: 0%;
        }
        @media screen and(max-width: 414px) {
          margin-left: -6%;
        }
        @media screen and(max-width: 390px) {
          margin-left: -12%;
        }
        @media screen and(max-width: 370px) {
          margin-left: -15%;
        }
        @media screen and(max-width: 340px) {
          margin-left: -21%;
        }
      }
      [id*="legend"]{
        position: absolute;
        right: 10%;
        top: 20%;
        @media screen and(max-width: 991px) {
          position: inherit;
          padding-top: 30px;
          > ul{
            width: 300px;
            margin:  0 auto;
          }
        }
      }

      canvas[id*="chart"]{
        width: 610px !important;
        height: 300px !important;
        @media screen and(max-width: 991px) {

        }
        @media screen and(max-width: 767px) {
          /*   width: inherit !important;
             height: inherit !important;*/
          width: 400px !important;
          height: 200px !important;
          position: relative;

        }
        @media screen and(max-width: 480px) {

        }
      }
      [id*="legend"]{
        position: absolute;
        right: 10%;
        top: 20%;
        @media screen and(max-width: 991px) {
          position: inherit;
          padding-top: 30px;
          > ul{
            width: 300px;
            margin:  0 auto;
          }
        }
      }

      .topleft {
        margin-top: -4px;
        margin-left: 16px;
        margin-bottom: 16px;
        padding: 16px;
        border: 1px solid black;
      }
      .sectiontext {
        font-size: 1.5em;
        font-weight: bold;
        font-family: Candara, Calibri, Cambria, serif;
        color: green;
        margin-top: -4px;
      }

      .pieLegend{
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        li {
          list-style: none;
          span {
            display: inline-block;
            width: 30px;
            height: 20px;
            margin-right: 10px;
          }
        }
      }
    }

  }
}
.note-kqua{
  padding-left: 51%;
  margin-top: -10px;
  @media  screen and(max-width: 991px) {
   padding-left: 47%;
    margin-top: 0;
  }
  @media  screen and(max-width: 767px) {
     padding-left: 0;
  }
}